---
layout: default
---
<!-- Testing merge conflict for pull request -->
<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span> 

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2> 

        <ul class="post-tag">
          {% for tag in post.categories %}
          <li>
            <a href="{{ site.url }}/tags#{{ tag }}" class="tag">
              <span class="term">{{ tag }}</span>
            </a>
          </li>
          {% unless forloop.last %}{% endunless %}
          {% endfor %}
        </ul>
        <p>{{ post.description }}</p>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
